.vscode
.git

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

*.zip
.claude

**/classification_data/
**/drive_data/

**/logs/